{% extends 'layouts/base.html'%}

{%block title%}
    Inscripcion
    {%endblock%}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/inscripcion.css") }}">
    {% endblock %}

{%block content%}

<section>
    <h1 class= "text-center py-4" id="premios">Inscripcion para los premios</h1>
</section>

<div class="container">
    <div class="card text-center mb-3">
        <div class="card-body">
            <h4 class="card-title">Importante!</h4>
            <p class="card-text">
                La única via de inscripción para los programas televisión por cable y televisión por aire es a traves del presente sitio web. Para poder cargar tu programa, previamente deberás subir el material a las plataforma de Google Drive, en los links que se visualizan a continuación, y luego pegar los links de Google Drive en los campos correspondientes del formulario.
            </p>
            <a href="https://drive.google.com/drive/u/0/" class="btn" id="boton-gd">
                <img src="static/asset/img/google-drive.svg" alt="" width="25px" height="25px">
                 Subir video a Google Drive
            </a>
            <br>
            <p class="card-text mt-2"><small>Recuerden que para cargar los videos deben estar registrados en la plataforma Google Drive.</small>
            </p>
                         
        </div>
      </div>
</div>

    <main>
        <div class="wrapper">
            <div class="header">
                <ul>
                    <li class="active form_1_progessbar">
                        <div>
                            <p>1</p>
                        </div>
                    </li>
                    <li class="form_2_progessbar">
                        <div>
                            <p>2</p>
                        </div>
                    </li>
                    <li class="form_3_progessbar">
                        <div>
                            <p>3</p>
                        </div>
                    </li>
                    <li class="form_4_progessbar">
                        <div>
                            <p>4</p>
                        </div>
                    </li>
                    <li class="form_5_progessbar">
                        <div>
                            <p>5</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form_wrap">
                <form id="form1" method="POST">
                    <div class="form_1 data_info">
                    <h2>Datos del programa</h2>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="name" class="form-label">Nombre del programa</label>
                                <input type="text" name="programa" class="input" id="nombre">
                            </div>
                            <div class="input_wrap">
                                <label for="name" class="form-label">Localidad - Categoria - Canales de aire</label>
                                <select  id="categorias" name="categoria" class="input">
                                    <option value="" disabled="" selected="">Selecciona una categoria</option>
                                    <optgroup label="Asociados">
                                        {%for category in categories%}
                                            {%if ':' in category[1] and category[1].split(':')[0] in cat_asociados%}
                                                <option value="{{ category[0] }}"> {{ category[1] }} </option>
                                            {%endif%}
                                        {%endfor%}
                                    </optgroup>
                                    <optgroup label="Canales abiertos">
                                        {%for category in categories%}
                                            {%if ':' in category[1] and category[1].split(':')[0] in cat_abiertos%}
                                                <option value="{{ category[0] }}"> {{ category[1] }} </option>
                                            {%endif%}
                                        {%endfor%}
                                    </optgroup>
                                    <optgroup label="Productoras independientes">
                                        {%for category in categories%}
                                            {%if ':' in category[1] and category[1].split(':')[0] in cat_prod_indep%}
                                                <option value="{{ category[0] }}"> {{ category[1] }} </option>
                                            {%endif%}
                                        {%endfor%}
                                    </optgroup>
                                    <optgroup label="Categoría única">
                                        {%for category in categories%}
                                            {%if ':' in category[1] and category[1].split(':')[0] in cat_unica%}
                                                <option value="{{ category[0] }}"> {{ category[1] }} </option>
                                            {%endif%}
                                        {%endfor%}
                                    </optgroup>
                                    <optgroup label="Categoría única">
                                        {%for category in categories%}
                                            {%if ':' in category[1] and category[1].split(':')[0] in cat_turf%}
                                                <option value="{{ category[0] }}"> {{ category[1] }} </option>
                                            {%endif%}
                                        {%endfor%}
                                    </optgroup>
                                </select>
                            </div>
                            <div class="input_wrap">
                                <label for="name" class="form-label">Genero</label>
                                <select name="genero" class="input">
                                    <option value="" disabled="" selected="">Selecciona un genero</option>
                                    {%for genre in genres%}
                                        {%if genre[0]%}
                                        <option value="{{ genre[0] }}"> {{ genre[1] }} </option>
                                        {%endif%}
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="input_wrap">
                                <label for="name" class="form-label">Vivo, directo y simultaneo</label>
                                <select name="vivo" class="input">
                                    <option value="" selected="" disabled="">Elegir</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="input_wrap">
                                <label for="name" class="form-label">Localidad de emision</label>
                                <input type="text" name="localidad" class="input">
                            </div>
                            <div class="flex-container">
                                <div class="cont1">
                                    <label for="name" class="form-label">Fecha de emision</label>
                                    <input class="input" type="date" name="fecha" id="input_date">
                                </div>
                                <div class="cont2">
                                    <label for="name" class="form-label">Duración</label>
                                    <input class="input" type="time" name="duracion" step="1" id="input_time">
                                </div>
                            </div> 
                            <div class="input_wrap">
                                <label for="name" class="form-label">Breve descripción</label>
                                <textarea  class="input" rows="5" cols="40" name="otros" id="input_tarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form_2 data_info" style="display: none;">
                    <h2>Material de video</h2>
                    
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for"name">
                                
                                    1 Video con 1 programa
                                    
                                </label>
                                <input type="text" name="video" class="input">
                                <label for="name">Link de google drive</label>
                            </div>
                            <div class="input_wrap">
                                <label for"name">
                                
                                    2 Video con 1 programa
                                    
                                </label>
                                <input type="text" name="video" class="input">
                                <label for="name">Link de google drive</label>
                            </div>
                            <div class="input_wrap">
                                <label for"name">
                                
                                    3 Video con 1 programa
                                    
                                </label>
                                <input type="text" name="video" class="input">
                                <label for="name">Link de google drive</label>
                            </div>
                            <div class="input_wrap">
                                <label for"name">
                                    
                                    1 Video de 8 segundos del programa que se utilizará para presentar el mismo durante la transmisión del evento.
                                
                                </label>
                                <input type="text" name="cover" class="input">
                                <label for="first_name">Link de google drive</label>
                                    <br>
                                    <i>(El material debe estar publicado hasta la fecha de realización del evento.)</i>
                                </label>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form_3 data_info" style="display: none;">
                    <h2>Datos de produccion del programa</h2>
                    
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="company">Productor/a</label>
                                <input type="text" name="productor" class="input" >
                            </div>
                            <div class="input_wrap">
                                <label for="experience">Coprodución</label>
                                <input type="text" name="coproduccion" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Autor/Guionista</label>
                                <input type="text" name="autor" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Editor</label>
                                <input type="text" name="editor" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Director</label>
                                <input type="text" name="director" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Camarografo/s</label>
                                <input type="text" name="camara" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Sonidista/Musicalización</label>
                                <input type="text" name="sonido" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Conductor/Presentador/Locutor</label>
                                <input type="text" name="conductor" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Protagonista/s</label>
                                <input type="text" name="protagonista" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Nombrar los cronistas exteriores que participan del programa</label>
                                <input type="text" name="cronistas" class="input">
                            </div>
                        </div>
                    
                    </div>
                    <div class="form_4 data_info" style="display: none;">
                    <h2>Datos del canal emisor del programa</h2>
                    
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="company">Nombre Canal</label>
                                <input type="text" name="nombre" class="input" >
                            </div>
                            <div class="input_wrap">
                                <label for="experience">Domicilio Canal</label>
                                <input type="text" name="direccion" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Localidad canal</label>
                                <input type="text" name="localidad" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Contacto canal</label>
                                <input type="text" name="contacto" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="designation">Teléfono canal</label>
                                <input type="text" name="telefono" class="input">
                            </div>
                            <div class="input_wrap">
                                <label for="name" class="form-label">¿Es socio de AET?</label>
                                <select name="vivo" class="input">
                                    <option value="" selected="" disabled="">Elegir</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form_5 data_info" style="display: none;">
                    <h2>Datos de facturación</h2>
                    
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="company">Razón social</label>
                                <input type="text" name="razonsocial" class="input" >
                            </div>
                            <div class="input_wrap">
                                <label for="experience">Cuit</label>
                                <input type="text" name="cuit" class="input">
                            </div>
                        </div>
                    
                    </div>
                </form>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">siguiente <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_2_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_3_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente</button>
                </div>
                <div class="common_btns form_4_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente</button>
                </div>
                <div class="common_btns form_5_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_done">Enviar</button>
                </div>
            </div>
        </div>
    </main>




<script type="text/javascript" src="{{ url_for('static',filename='asset/js/scripts.js') }}"></script>
    {%endblock%}
