{% extends 'layouts/base.html'%}

{%block title%}
    Inscripcion
{%endblock%}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/inscripcion.css") }}">
    {% endblock %}

{%block content%}

<section>
    <h1 class= "text-center py-4" id="premios">Inscripcion para los premios</h1>
</section>
<div class="container">
    <div class="row p-2">
        <div class="col-lg p-2">
            <div class="card-warning card h-100 text-center mb-3 ">
                <div class="body-warning card-body">
                    <h4 class="card-title">Importante!</h4>
                    <p class="card-text">
                        La única via de inscripción para los programas televisión por cable, televisión por aire y productoras independientes es a traves del presente sitio web. Para poder cargar tu programa, previamente deberás subir el material a las plataforma de Google Drive, en los links que se visualizan a continuación, y luego pegar los links de Google Drive en los campos correspondientes del formulario.
                    </p>
                    <a href="https://drive.google.com/drive/u/0/" class="btn btn-warning boton-gd" target="_blank" rel="noopener noreferrer">
                        <img src="static/asset/img/google-drive.svg" alt="" width="25px" height="25px">
                         Subir video a Google Drive
                    </a>
                    <br>
                    <p class="card-text mt-2"><small>Recuerden que para cargar los videos deben estar registrados en la plataforma Google Drive.</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 p-2">
            <div class="card-intructivo card h-100 text-center mb-3">
                <img class="mx-auto d-block" src="static/asset/img/list.png" alt="" width="100px" height="100px">
                <div class="body-instructivo card-body">
                    <p class="reglamento-text">Reglamento e instructivo para completar el formulario</p>
                    <a href="/download_instructivo" class="boton-descarga btn btn-success" target="_blank" rel="noopener noreferrer">Descargar</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <main>
        <div class="wrapper">
            <div class="header">
                <ul>
                    <li class="active form_1_progessbar">
                        <div>
                            <p>1</p>
                        </div>
                    </li>
                    <li class="form_2_progessbar">
                        <div>
                            <p>2</p>
                        </div>
                    </li>
                    <li class="form_3_progessbar">
                        <div>
                            <p>3</p>
                        </div>
                    </li>
                    <li class="form_4_progessbar">
                        <div>
                            <p>4</p>
                        </div>
                    </li>
                    <li class="form_5_progessbar">
                        <div>
                            <p>5</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form_wrap">
                <form class="needs-validation" id="form1" method="POST" novalidate>
                    <div class="form_1 data_info">
                    <h2>Datos de facturación</h2>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="socio" class="form-label">¿Es socio de AET?</label>
                                <select name="socio" class="input" id="socio" onchange="ver_categoria();"
                                    oninput="valid_input('socio', 'Seleccione una opción', 'error-socioAet')">
                                    <option value="" selected="" disabled="">Elegir</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                                <div id="error-socioAet"></div>
                            </div>
                            <div class="modal_wrapper">
                                <div class="shadow"></div>
                                <div class="success_wrap">
                                    <span class="modal_icon"><ion-icon name="checkmark-sharp"><small class="AET">AET</small></span>
                                    <div class="row">
                                        <div>
                                            <div class="input_wrap">
                                                <label for="n_socio" class="form-label">N° de socio</label>
                                                <input type="number" class="input" name="n_socio">
                                            </div>
                                            <div class="input_wrap">
                                                <label for="n_cuit" class="form-label">CUIT</label>
                                                <input type="number" class="input" name="n_cuit">
                                            </div>
                                            <div class="btns_wrap row justify-content-between">
                                                <button class="btn_aceptar" type="button">Verificar</button>
                                                <button class="btn_cancel" type="button">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input_wrap" id="es_socio" style="display: none">
                                <label for="localidadCategoria" class="form-label">Categoria - Localidad</label>
                                <select name="categoria" class="input" id="localidadCategoria"
                                    oninput="valid_input('localidadCategoria', 'Seleccione una categoría', 'error-localidadCategoria')">
                                    <option value="" disabled="" selected="">Selecciona una categoria</option>
                                    {% for category in categories %}
                                        {% if category[0]%}
                                            {% if category[0] == 'associated'%}
                                                <optgroup label={{ category[1] }}>
                                                    {% if category[0] == 'associated'%}
                                                        {% for cat in cat_asociados %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'open' %}
                                                        {% for cat in cat_abiertos %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'independent' %}
                                                        {% for cat in cat_prod_indep %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'unique' %}
                                                        {% for cat in cat_unica %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'turf' %}
                                                        {% for cat in cat_turf %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </optgroup>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div id="error-localidadCategoria"></div>
                            </div>
                            <div class="input_wrap" id="no_es_socio" style="display: none">
                                <label for="localidadCategoria2" class="form-label">Categoria - Localidad</label>
                                <select name="categoria" class="input" id="localidadCategoria2"
                                    oninput="valid_input('localidadCategoria2', 'Seleccione una categoría', 'error-localidadCategoria2')">
                                    <option value="" disabled="" selected="">Selecciona una categoria</option>
                                    {% for category in categories %}
                                        {% if category[0]%}
                                            {% if category[0] != 'associated'%}
                                                <optgroup label={{ category[1] }}>
                                                    {% if category[0] == 'open' %}
                                                        {% for cat in cat_abiertos %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'independent' %}
                                                        {% for cat in cat_prod_indep %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'unique' %}
                                                        {% for cat in cat_unica %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% elif category[0] == 'turf' %}
                                                        {% for cat in cat_turf %}
                                                        <option value="{{ cat.id }}"> {{ cat.rec_name }} </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </optgroup>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div id="error-localidadCategoria2"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="generoPrograma" class="form-label">Genero</label>
                                <select name="genero" class="input" id="generoPrograma"
                                    oninput="valid_input('generoPrograma', 'Seleccione un género', 'error-genero')">
                                    <option value="" disabled="" selected="">Selecciona un género</option>
                                    {%for genre in genres%}
                                        {%if genre[0]%}
                                        <option value="{{ genre[0] }}"> {{ genre[1] }} </option>
                                        {%endif%}
                                    {%endfor%}
                                </select>
                                <div id="error-genero"></div> 
                            </div>
                            <div class="input_wrap">
                                <label for="razonSocial">Razón social</label>
                                <input type="text" name="razonsocial" class="input" id="razonSocial"
                                    oninput="valid_input('razonSocial', 'ingrese la razon social', 'error-razonSocial')">
                                <div id="error-razonSocial"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="numeroCuit">Cuit</label>
                                <input type="text" name="cuit" class="input" id="numeroCuit" pattern="[0-9]{11}" 
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
                                    valid_cuil('numeroCuit', 'ingrese el cuit sin espacios', 'error-numeroCuit')">
                                <div id="error-numeroCuit"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form_2 data_info" style="display: none;">
                    <h2>Datos del programa</h2>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="nombrePrograma" class="form-label">Nombre del programa</label>
                                <input type="text" name="programa" class="input" id="nombrePrograma" 
                                    oninput="valid_input('nombrePrograma', 'Ingrese el nombe del programa', 'error-nombrePrograma')">
                                <div id="error-nombrePrograma"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="enVivo" class="form-label">Vivo, directo y simultaneo</label>
                                <select name="vivo" class="input" id="enVivo"
                                    oninput="valid_input('enVivo', 'Elija una opción', 'error-vivo')">
                                    <option value="" selected="" disabled="">Elegir</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                                <div id="error-vivo"></div> 
                            </div>
                            <div class="input_wrap">
                                <label for="localidadEmision" class="form-label">Localidad de emisión</label>
                                <input type="text" name="localidad" class="input" id="localidadEmision"
                                    oninput="valid_input('localidadEmision', 'Ingrese localidad de emisión', 'error-localidad')">
                                <div id="error-localidad"></div> 
                            </div>
                            
                            <div class="flex-container">
                                <div class="cont1">
                                    <label for="input_date" class="form-label">Fecha de emisión</label>
                                    <input class="input" type="date" name="fecha" id="input_date" 
                                        oninput="valid_input('input_date', 'Ingrese fecha de emisión', 'error-fecha')">
                                    <div id="error-fecha"></div>
                                </div>
                                <div class="cont2">
                                    <label for="input_time" class="form-label">Duración</label>
                                    <input class="input" type="time" name="duracion" min="00:00" max="04:00" value="00:00" step="60" id="input_time" 
                                        oninput="valid_time('input_time', 'La duración tiene que ser menor a 4 hs', 'error-duracion')">
                                    <div id="error-duracion"></div>
                                </div>
                            </div> 
                            <div class="input_wrap">
                                <label for="input_tarea" class="form-label">Breve descripción</label>
                                <textarea  class="input" rows="5" cols="40" name="otros" id="input_tarea" 
                                    oninput="valid_input('input_tarea', 'Ingrese una breve descripción', 'error-tarea')"></textarea>
                                <div id="error-tarea"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form_3 data_info" style="display: none;">
                    <h2>Material de video</h2>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="linkRutina">
                                    Rutina del programa
                                </label>
                                <input type="text" name="rutina" class="input" id="linkRutina"
                                    oninput="valid_input('linkRutina', 'Ingrese link de la rutina', 'error-rutina')">
                                <label for="name">Link de google drive</label>
                                <div id="error-rutina"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="linkVideo1">
                                    1 Video con 1 programa
                                </label>
                                <input type="text" name="video1" class="input" id="linkVideo1" 
                                    oninput="valid_input('linkVideo1', 'Ingrese link del video 1', 'error-video1')">
                                <label for="name">Link de google drive</label>
                                <div id="error-video1"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="linkVideo2">
                                    2 Video con 1 programa
                                </label>
                                <input type="text" name="video2" class="input" id="linkVideo2"
                                    oninput="valid_input('linkVideo2', 'Ingrese link del video 2', 'error-video2')">
                                <label for="name">Link de google drive</label>
                                <div id="error-video2"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="linkVideo3">
                                    3 Video con 1 programa
                                </label>
                                <input type="text" name="video3" class="input" id="linkVideo3" 
                                    oninput="valid_input('linkVideo3', 'Ingrese link del video 3', 'error-video3')">
                                <label for="name">Link de google drive</label>
                                <div id="error-video3"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="linkCover">
                                    1 Video de 8 segundos del programa que se utilizará para presentar el mismo durante la transmisión del evento.
                                </label>
                                <input type="text" name="cover" class="input" id="linkCover"
                                    oninput="valid_input('linkCover', 'Ingrese link del cover', 'error-cover')">
                                <label for="first_name">Link de google drive</label>
                                <div id="error-cover"></div>
                                    <br>
                                    <i>(El material debe estar publicado hasta la fecha de realización del evento.)</i>
                                </label>
                            </div>
                        </div>           
                    </div>
                    <div class="form_4 data_info" style="display: none;">
                    <h2>Datos de produccion del programa</h2>                  
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="nombreProductor">Productor/a</label>
                                <input type="text" name="productor" class="input" id="nombreProductor"
                                    oninput="valid_input('nombreProductor', 'Ingrese el nombre del Productor', 'error-nombreProductor')">
                                <div id="error-nombreProductor"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreCoproductor">Coprodución</label>
                                <input type="text" name="coproduccion" class="input" id="nombreCoproductor" 
                                    oninput="valid_input('nombreCoproductor', 'Ingrese el nombre del Coproductor', 'error-nombreCoproductor')">
                                <div id="error-nombreCoproductor"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreAutor">Autor/Guionista</label>
                                <input type="text" name="autor" class="input" id="nombreAutor" 
                                    oninput="valid_input('nombreAutor', 'Ingrese el nombre del Autor', 'error-nombreAutor')">
                                <div id="error-nombreAutor"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreEditor">Editor</label>
                                <input type="text" name="editor" class="input" id="nombreEditor" 
                                    oninput="valid_input('nombreEditor', 'Ingrese el nombre del Editor', 'error-nombreEditor')">
                                <div id="error-nombreEditor"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreDirector">Director</label>
                                <input type="text" name="director" class="input" id="nombreDirector" 
                                    oninput="valid_input('nombreDirector', 'Ingrese el nombre del Director', 'error-nombreDirector')">
                                <div id="error-nombreDirector"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreCamara">Camarógrafo/s</label>
                                <input type="text" name="camara" class="input" id="nombreCamara" 
                                    oninput="valid_input('nombreCamara', 'Ingrese el nombre del Camarógrafo', 'error-nombreCamara')">
                                <div id="error-nombreCamara"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreSonido">Sonidista/Musicalización</label>
                                <input type="text" name="sonido" class="input" id="nombreSonido" 
                                    oninput="valid_input('nombreSonido', 'Ingrese datos del Sonidista', 'error-nombreSonido')">
                                <div id="error-nombreSonido"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreConductor">Conductor/Presentador/Locutor</label>
                                <input type="text" name="conductor" class="input" id="nombreConductor" 
                                    oninput="valid_input('nombreConductor', 'Ingrese el nombre del Conductor/Presentador/Locutor', 'error-nombreConductor')">       
                                <div id="error-nombreConductor"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreProtagonista">Protagonista/s</label>
                                <input type="text" name="protagonista" class="input" id="nombreProtagonista" 
                                    oninput="valid_input('nombreProtagonista', 'Ingrese el nombre del Protagonista', 'error-nombreProtagonista')">
                                <div id="error-nombreProtagonista"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="nombreCronista">Nombrar los cronistas exteriores que participan del programa</label>
                                <input type="text" name="cronistas" class="input" id="nombreCronista" 
                                    oninput="valid_input('nombreCronista', 'Ingrese el nombre del Cronista', 'error-nombreCronista')">
                                <div id="error-nombreCronista"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form_5 data_info" style="display: none;">
                    <h2>Datos del canal emisor del programa</h2>
                        <div class="form_container">
                            <div class="input_wrap">
                                <label for="nombreCanal">Nombre Canal</label>
                                <input type="text" name="canal" class="input" id="nombreCanal"
                                    oninput="valid_input('nombreCanal', 'Ingrese el nombre del Canal', 'error-nombreCanal')">
                                <div id="error-nombreCanal"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="direccionCanal">Domicilio Canal</label>
                                <input type="text" name="direccion" class="input" id="direccionCanal"
                                    oninput="valid_input('direccionCanal', 'Ingrese el domicilio del Canal', 'error-direccionCanal')">
                                <div id="error-direccionCanal"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="localidadCanal">Localidad canal</label>
                                <input type="text" name="localidad_canal" class="input" id="localidadCanal"
                                    oninput="valid_input('localidadCanal', 'Ingrese la localidad del Canal', 'error-localidadCanal')">
                                <div id="error-localidadCanal"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="contactoCanal">Contacto canal</label>
                                <input type="text" name="contacto" class="input" id="contactoCanal" 
                                    oninput="valid_input('contactoCanal', 'Ingrese un medio de contacto', 'error-contactoCanal')">
                                <div id="error-contactoCanal"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="telefonoCanal">Teléfono canal</label>
                                <input type="tel" name="telefono" class="input" id="telefonoCanal" 
                                    placeholder="(Código de área)Número" pattern="[0-9]{3}[0-9]{7}|[0-9]{7}"  
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
                                        valid_tel('telefonoCanal', 'Ingrese el teléfono del Canal', 'error-telefonoCanal')">
                                <div id="error-telefonoCanal"></div>
                            </div>
                            <div class="input_wrap">
                                <label for="emailCanal">Email canal</label>
                                <input type="email" name="email" class="input" id="emailCanal" placeholder="ejemplo@ejemplo.com" 
                                    oninput="valid_correo('emailCanal', 'Ingrese un correo valido', 'error-emailCanal')">
                                <div id="error-emailCanal"></div>
                            </div>
                            <div class="flex-container text-size text-center">
                                <input class="mx-1 my-1" type="checkbox" id="condiciones" name="condiciones" value="Condiciones"
                                    oninput="valid_condiciones('condiciones', 'Debe aceptar los terminos y condiciones', 'error-condiciones')">
                                <label > <small for="coniciones">He leído y acepto los terminos y condiciones</small></label>
                            </div>
                            <div class="input_wrap">
                                <div id="error-condiciones"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">siguiente <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_2_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_3_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente</button>
                </div>
                <div class="common_btns form_4_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_next">siguiente</button>
                </div>
                <div class="common_btns form_5_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Anterior</button>
                    <button type="button" class="btn_done">Enviar</button>
                </div>
            </div>
        </div>
    </main>
    
    <script language="JavaScript">
        <!--
          javascript:window.history.forward(1);
        //-->
        </script> 
    <script type="text/javascript" src="{{ url_for('static',filename='asset/js/scriptform.js') }}"></script>
    {%endblock%}
