{% extends 'layouts/base_admin.html'%}

{%block title%}
    Lista de programas
    {%endblock%}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/listado.css") }}">
  {% endblock %}

{%block content%}
<div class="container p-4">
  <div class="row">
    <div class="col">
      <h2 class="bienvenida">Bienvenido  -  {{ user.rec_name }}</h2>
    </div>
    <div class="col text-end">
      <h2 class="bienvenida" id="current_date"></h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-12 pt-3 pb-3">
      <div class="panel-heading mx-3">
          <div style="float:right;display: block">
              <a href="/lista-o-reserva" style="margin-top:-6px !important" class=" btn-sm btn btn-secondary">VOLVER</a>
            </div>
      </div>
    </div>
  <small>
    {% if (invitations) %}
    <div class="row p-3">
        <div class="col-lg-12 ">
        <div class="table-responsive" id="tabla_1">
            <table class="table table-bordered table-hover table-striped" >
            <thead >
                <tr>
                <th scope="col">Programa</th>
                <th scope="col">Canal emisor</th>
                <th scope="col">Localidad</th>
                <th scope="col">Categoria</th>
                <th scope="col">Genero</th>
                <th scope="col">Comprar</th>
                <th scope="col">Invitaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for invitation in invitations %}
                    {% if invitation.inscription %}
                    <tr><td>{{ invitation.inscription.name }}</td>
                        <td>{{ invitation.inscription.channel_name or 'No se definio canal de emisión'}}</td>
                        <td>{{ invitation.inscription.channel_town if invitation.inscription.channel_name or 'No se definio ciudad de emisión'}}</td>
                        <td>{{ invitation.inscription.category and invitation.inscription.category.rec_name  or 'No se definio categoría'}}</td>
                        <td>{{ invitation.inscription.genre_string or 'No se definio genero' }} </td>
                        <td><a class="btn btn-success" href="/programa_reserva/{{ invitation.id }}/{{ user.id }}" role="button">{% if not invitation.guests%}Reservar{% else %}Actualizar{% endif %}</a></td>
                        <td>
                          <small>
                            <table class="table text-center p-0 m-0">
                              <thead>
                                <tr>
                                  {% if invitation.guests %}
                                  <th scope="col">T N°1</th>
                                  {% endif %}
                                  {% if invitation.guests|length == 2 %}
                                  <th scope="col">T N°2</th>
                                  {% endif %}
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <!--reservado -->
                                  {% if invitation.state != 'paid' %}
                                  <td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" height="25px" weight="25px" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="#FF8000"/></svg></td>
                                  {% else %}
                                  <!-- pagado -->
                                  <td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" height="25px" weight="25px" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" fill="#008f39"/></svg></td>
                                  {% endif %}
                                </tr>
                              </tbody>
                            </table>
                        </small>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                      <td colspan="5"> Invitación sin Programa inscripto </td>
                      <td><a class="btn btn-success" href="/programa_reserva/{{ invitation.id  }}/{{ user.id}}" role="button">{% if not invitation.guests %}Reservar{% else %} Actualizar {% endif %}</a></td>
                      <td>
                        <small>
                          <table class="table text-center p-0 m-0">
                            <thead>
                              <tr>
                                {% if invitation.guests %}
                                  <th scope="col">T N°1</th>
                                  {% endif %}
                                  {% if invitation.guests|length == 2 %}
                                  <th scope="col">T N°2</th>
                                  {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <!-- reservado -->
                                {% if invitation.state != 'paid' %}
                                <td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" height="25px" weight="25px" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="#FF8000"/></svg></td>
                                <!--Pagado -->
                                {% else %}
                                <td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" height="25px" weight="25px" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" fill="#008f39"/></svg></td>
                                {% endif %}
                              </tr>
                            </tbody>
                          </table>
                      </small>
                      </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <p style="text-align: center;">No hay registros </p>
    {% endif %}
  </div></small>

  {%endblock%}

{% block javascripts %}

<script type="text/javascript" src="{{ url_for('static',filename='asset/js/scriptlistc.js') }}"></script>
{% endblock javascripts %}
