{% extends 'layouts/base.html'%}

{% block title %}
Formulario enviado
  {% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/inscripcion.css") }}">
    {% endblock %}

    

{%block content%}

<main>
  <div class="wrapper">
      <div class="header">
        </div>
        <div class="text-center">
          <h2>
            El formulario se ha enviado exitosamente
          </h2>
          <br>
          <a class="btn btn btn-success" href="http://www.aetelecomunicaciones.org/index" role="button">Volver</a>
        </div>
  </div>
</main>


  {%endblock%}


