{% extends 'layouts/base_admin.html'%}

{%block title%}
    Reservar tarjeta
{%endblock%}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/stylesProgramaReserva.css") }}">
    {% endblock %}


{%block content%}
{{originalidad}}

<div class="container pb-1">
    <div class="row pb-3">
        <div class="col-lg-12 pt-3 pb-3">
            <div class="panel-heading">
                <i class="fa fa-briefcase fa-fw"></i> ID de USUARIO: {{usuario}}
                <div style="float:right;display: block">
                    <a href="/listado" style="margin-top:-6px !important" class=" impre btn btn-sm btn-default">VOLVER AL LISTADO</a>
                </div>
            </div>
        </div>               
        <div class="row">
            <div class="col-md-6">
                <h4 class="encabezado">DATOS DEL PROGRAMA</h4>
                <hr>
                <div class="row datos" >
                    <div class="col-md-6">
                        <b>Programa:</b>
                        <input readonly type="text" name="programaInscripcion" value="{{programa}}" class="form-control input-sm">
                        <b>Categoria:</b>
                        <input readonly type="text" name="categoriaInscripcion" value="{{categoria}}" class="form-control input-sm">
                        <b>Localidad:</b>
                        <input readonly type="text" name="localidadInscripcion" value="{{localidad}}" class="form-control input-sm">
                        <b>Duracion:</b>
                        <input readonly type="text" name="duracionInscripcion" value="{{duracion}}" class="form-control input-sm">
                        <b>Coproductor:</b>
                        <input readonly type="text" name="coproductorInscripcion" value="{{coproductor}}" class="form-control input-sm">
                        <b>Director:</b>
                        <input readonly type="text" name="directorInscripcion" value="{{director}}" class="form-control input-sm">
                        <b>Sonido:</b>
                        <input readonly type="text" name="sonidoInscripcion" value="{{sonido}}" class="form-control input-sm">
                        <b>Protagonista:</b>
                        <input readonly type="text" name="protagonistaInscripcion" value="{{protagonista}}" class="form-control input-sm">
                    </div>
                    <div class="col-md-6">
                        <b>Genero:</b>
                        <input readonly type="text" name="generoInscripcion" value="{{genero}}" class="form-control input-sm">
                        <b>Vivo:</b>
                        <input readonly type="text" name="vivoInscripcion" value="{{vivo}}" class="form-control input-sm">
                        <b>Emision:</b>
                        <input readonly type="text" name="emisionInscripcion" value="{{emision}}" class="form-control input-sm">
                        <b>Productor:</b>
                        <input readonly type="text" name="productorInscripcion" value="{{productor}}" class="form-control input-sm">
                        <b>Autor:</b>
                        <input readonly type="text" name="autorInscripcion" value="{{autor}}" class="form-control input-sm">
                        <b>Camara:</b>
                        <input readonly type="text" name="camaraInscripcion" value="{{camara}}" class="form-control input-sm">
                        <b>Conductor:</b>
                        <input readonly type="text" name="conductorInscripcion" value="{{conductor}}" class="form-control input-sm">
                        <b>Cronistas:</b>
                        <input readonly type="text" name="cronistasInscripcion" value="{{cronistas}}" class="form-control input-sm">
                    </div>
                    <div class="col-md-12">
                        <b>Descripción:</b>
                        <textarea readonly name="otrosInscripcion" class="form-control input-sm"> {{otros}} </textarea>
                    </div>
                </div>
            </div>            
            <div class="col-md-6">
                <h4 class="encabezado">DATOS DEL CANAL</h4>
                <hr>
                <b>Nombre:</b>
                <input readonly type="text" name="nombreInscripcion" value="{{nombre}}" class="form-control input-sm">
                <b>Direccion:</b>
                <input readonly type="text" name="direccionInscripcion" value="{{direccion}}" class="form-control input-sm">
                <b>Localidad:</b>
                <input readonly type="text" name="localidadInscripcion" value="{{localidad_canal}}" class="form-control input-sm">
                <b>Contacto:</b>
                <input readonly type="text" name="contactoInscripcion" value="{{contacto}}" class="form-control input-sm">
                <b>Telefono:</b>
                <input readonly type="text" name="telefonoInscripcion" value="{{telefono}}" class="form-control input-sm">
                <b>Email:</b>
                <input readonly type="text" name="emailInscripcion" value="{{email}}" class="form-control input-sm">
                <b>Socio:</b>
                <input readonly type="text" name="socioInscripcion" value="{{socio}}" class="form-control input-sm">
                <label id="fecha"><b>Fecha: {{fecha}}</b></label>
                <h4 class="encabezado">DATOS DEL FACTURACION</h4>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <b>Razon social:</b>
                        <input readonly type="text" name="Razon social" value="{{razonsocial}}" class="form-control input-sm">
                    </div>
                    <div class="col-md-4">
                        <b>Cuit:</b>
                        <input readonly type="text" name="cuit" value="{{cuit}}" class="form-control input-sm">
                    </div>
                </div>
            </div>
        </div>
        <section class="text-center">
            <h1>Reserva de tarjetas</h1>
            <form action="">
                <div class="text-center">
                    <label for="tarjetas" class="form-label">Cantidad de Tarjetas</label>
                    <select name="tarjetas" class="input" id="tarjetas">
                        <option value="0" selected="" disabled=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </form>
        </section>
    </div>
</div>
    
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/scriptjurados.js') }}"></script>
{%endblock%}
