{% extends 'layouts/base_admin.html'%}

{%block title%}
    Reservar tarjeta
{%endblock%}

{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/stylesProgramaReserva.css") }}">
    {% endblock %}


{%block content%}

<script>
    var precio_tarjeta = 3000;
    if ({{ invitation.inscription.category.category.price }}){
        precio_tarjeta = {{ invitation.inscription.category.category.price |tojson|safe }};
    }
       
    console.log(precio_tarjeta); 
</script> 


<div class="container pb-1">
    <div class="row pb-3">
        <div class="col-lg-12 pt-3 pb-3">
            <div class="panel-heading">
                <i class="fa fa-briefcase fa-fw"></i> ID de USUARIO: {{ user.rec_name}}
                <div style="float:right;display: block">
                    <a href="/listado_reserva" style="margin-top:-6px !important" class=" impre btn btn-sm btn-default">VOLVER AL LISTADO</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-between" id="portada">
            <div class="col-md-6 textos">
                {% if invitation.inscription %}
                <h4 class="encabezado">DATOS DEL PROGRAMA</h4>
                <br>
                <div class="row datos" >
                    <div class="col">
                        <h5><b>Programa: </b> {{ invitation.inscription.rec_name }}</h5>
                        <br>
                        <h5><b>Categoria </b> {{ invitation.inscription.category and invitation.inscription.category.category.rec_name or 'No se definio categoria' }}</h5>
                    </div>
                </div>
                {% else %}
                <h4 class="encabezado">DATOS DE LA INVITACION</h4>
                <div class="row datos" >
                    <h5><b> {{ invitation.web_user.rec_name }} </b></h5>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/asset/img/premios_aet_portada.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    {% if invitation.inscription %}
                      <p class="card-text">Seleccione la cantidad de tarjetas y complete los datos. El precio de cada tarjeta es de <b>${{ invitation.inscription.category and invitation.inscription.category.category.price }}</b></p>
                    {% else %}
                        <p class="card-text">Seleccione la cantidad de tarjetas y complete los datos. El precio de cada tarjeta es de <b>$3000</b> </p>
                    {% endif %}
                    </div>
                  </div>
            </div>
        </div>
        <section class="text-center">
            <h1 class="m-3 p-3">Reserva de tarjetas</h1>
            <hr>
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="container text-center">
                        <div class="row justify-content-md-center">
                            <div class="col-md-4 pb-3 pt-3">
                                <select name="tarjetas" class="form-select" id="tarjetas">
                                    <option value="0" selected disabled>Selecione la cantidad de tarjetas</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <form action="" method="POST">
                            <div class="row justify-content-md-center">
                                <div class="col-md-4 m-4 text-start" style="display: none" id="tarjeta_1">
                                    <h5 class="m-3 text-center">Tarjeta N°1</h5>
                                    <label for="nombre_1" class="form-label m-1">Nombre</label>
                                    <input type="text" class="form-control " id="nombre_1" name="nombre_1" required>
                                    <label for="apellido_1" class="form-label m-1">Apellido</label>
                                    <input type="text" class="form-control " id="apellido_1" name="apellido_1" required>
                                    <label for="dni_1" class="form-label m-1">DNI</label>
                                    <input type="text" class="form-control" id="dni_1" name="dni_1" required>
                                    <label for="año_1" class="form-label m-1">Año</label>
                                    <input type="text" class="form-control" id="año_1" name="año_1" required>
                                </div>
                                <div class="col-md-4 m-4 text-start" style="display: none" id="tarjeta_2">
                                    <h5 class="m-3 text-center">Tarjeta N°2</h5>
                                    <label for="nombre_2" class="form-label m-1">Nombre</label>
                                    <input type="text" class="form-control " id="nombre_2" name="nombre_2">
                                    <label for="apellido_2" class="form-label m-1">Apellido</label>
                                    <input type="text" class="form-control " id="apellido_2" name="apellido_2">
                                    <label for="dni_2" class="form-label m-1">DNI</label>
                                    <input type="text" class="form-control" id="dni_2" name="dni_2">
                                    <label for="año_2" class="form-label m-1">Año</label>
                                    <input type="text" class="form-control" id="año_2" name="año_2">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-4 m-4 text-start" style="display: block" id="archivo">
                                    <label for="formFile" class="form-label">Subir ticket de pago</label>
                                    <input class="form-control form-control-sm" type="file" name="formFile" id="formFile">
                                </div>
                            </div>
                            <div class="row justify-content-end" >
                                <div class="col-md-4 mx-5 justify-content-end" style="display: none" id="boton_comprar">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <h4>Total: </h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h3 id="precio" style="color: brown; font-weight:bold"></h3>
                                            <h3 id="precio2" style="color: brown;"></h3>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Comprar</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<script language="JavaScript">
    <!--
        javascript:window.history.forward(1);
    //-->
</script>

<script type="text/javascript" src="{{ url_for('static',filename='asset/js/scriptarjetas.js') }}"></script>
{%endblock%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>


<script>
    $(function() {
    $document.getElementById("tarjetas").addEventListener("change", function(){
      $.getJSON($SCRIPT_ROOT + '/calcular_precio_entradas', {
        cantidad: $('input[name="tarjetas"]').val(),
//         invitation_id: $('select[name=1]').val()
        invitation_id: 1
      }, function(data) {
        console.log(data['precio'])
        var precio2 = document.getElementById("precio2");
        if (data['precio'] != "") {
            precio2.value = data['precio'];
            console.log('si adentro2')
        }
        else {
            console.log('no adentro2')
        }
      });
      return false;
    });
    });
</script>
