@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

:root{
	--primary: #82aff3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #677cc0;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Gabarito', sans-serif;
}

h1{
	font-size: 90px;
}
 
