@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

header{

    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

.nav-link{
    font-family: 'Urbanist', sans-serif;
    font-size:small;
    text-transform: uppercase;
    color: rgb(0, 122, 173);
    letter-spacing: 3px;
    margin: 0px 15px;
}

.foot{
    font-family: 'Urbanist', sans-serif;
    color: rgb(0, 122, 173);
    font-size: small;
}

footer{
    background-color:rgb(229, 240, 252);
}

.dropdown-menu{
    background-color: rgb(0, 122, 173);
}

.dropdown-item{
    font-family: 'Urbanist', sans-serif;
    font-size: small;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}


header .container-fluid img{

    width: 180px;
    margin: 0px 10px;
}

