@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');


.card-warning{

	box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%) !important;
	background-color: rgb(193, 179, 219);  
	border-radius: 10px;
	border-color:rgb(191, 167, 235);
}

.card-intructivo{
	
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
	border-radius: 10px;
	border-color:rgb(175, 173, 180);
}

.body-instructivo{
	
	background-color: rgb(175, 173, 180);
	border-radius: 0 0 5px 5px;
}

.card-title{
    text-transform: uppercase;
    font-family: 'Caprasimo', cursive;
}

.card-text{
    font-family: 'Quicksand', sans-serif;
}

.instrucciones{
  	margin: 0 auto;
  	display:flex;
}

.boton-descarga{
	background-color: #40b7ad;
	border-color: #40b7ad;
}

.guia{
	background-color: #c22071;
    align-items: center;
	text-align: center;
}

.boton-gd{

    background-color: #ffff94;
	border-color: #ffff94;
}

.boton-descarga:hover{

	background-color: #2f867f;
	border-color: #2f867f;
}
.boton-gd:hover{
	
	background-color: #cfcf79;
	border-color: #cfcf94;
}

#premios{
    text-transform: uppercase;
    font-family: 'Vina Sans', cursive;
	font-size: 60px;
	color: #fff;
	text-shadow: 0 0 5px #ebeb79 ,0 0 25px #ebeb79 , 0 0 50px #ebeb79 , 0 0 100px #ebeb79 ;
	border-color: black;
    background-image: url('../img/award.png');
	width: 100%;
    background-size:50%;
	display:table;
	
}

:root{
	--primary: #f3c282;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #c09967;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

main{
	background: var(--primary);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
	padding: 20px;
}

.wrapper{
	width: 750px;
	max-width: 100%;
	background: var(--white);
	margin: 20px auto 0;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%) !important;
}

.wrapper .header{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 10px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 40px;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	left: 40px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 40px;
	height: 40px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: var(--primary);
}

.wrapper .header ul li.active p{
	background: var(--primary);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h2{
	color: var(--header-clr);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrapper .form_wrap .input_wrap {
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}


.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap .input {
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
	background-color: var(--white)
}

.flex-container{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
	display: flex;
}

.flex-container .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	font-size: 16px;
	transition: 0.5s ease;
	width: auto
}

.flex-container .cont2{
	text-align: left;
	display: flex;
	flex-direction:column;
	width: 120px;
}
 
.wrapper .form_wrap .flex-container .input:focus{
	border-color: var(--primary);
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}

#input_tarea:focus{
	border-color: var(--primary);
}

input[type=time]::-webkit-datetime-edit-hour-field:focus,
input[type=time]::-webkit-datetime-edit-minute-field:focus,
input[type=time]::-webkit-datetime-edit-second-field:focus,
input[type=time]::-webkit-datetime-edit-ampm-field:focus {
  background-color: var(--primary);
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
	background-color: var(--primary);
}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: var(--primary);
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}
