:root{
	--primary: rgb(0, 122, 173);
	--secondary: #bfc0c0;
    --terciary: #989eaa;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: rgb(0, 84, 119);
	--back-btn-hover: #8b8b8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
hr{
    border-width:  2px;
}

.container .panel-heading{
    margin-top: 16px;
}

.container .encabezado{
    margin-bottom: 10px;
    color: var(--primary);
}

.container .datos .col-md-6 .input-sm{ 
    margin-bottom: 10px;
}

.container .row .col-md-12 .input-sm{
    margin-bottom: 10px;
}

.container .row .col-md-6 .input-sm{
    margin-bottom: 10px;
}

#fecha{
    margin-bottom: 10px;
}

#rutina a{
    border-radius: 15px;
    background-color: var(--primary);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

#rutina a:focus, #rutina a:hover{
    background-color: var(--next-btn-hover);
}

#rutina{
    margin-bottom: 30px;
}

.container .row .carrusel{
    margin-bottom: 10px;
}
.tab{
    margin-top: 10px;
    
}

.tab form{
    background-color: var(--primary);
    padding:40px;
    border-radius: 5px;
}

.conceptos{
    text-align: center;
    text-transform: uppercase;
    margin : 10px 0px 0px 10px;
    color: var(--primary);
}

.inside-conceptos{
	background: var(--white);
	margin: 0px auto 40px;
	padding: 15px;
	border-radius: 5px;
    border: 1px solid var(--secondary);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);

}

.tab .nav-item .nav-link{
    border-top: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);;
   }

   .tab .nav-item :hover{
    border: 2px solid var(--back-btn-hover);
    color: var(--back-btn-hover);
   }   

.tab .nav-item .active{
    background:var(--primary);
    color: white;
    border: 2px solid var(--primary);
}


.tab ul{
    margin-bottom: 0px;

}


.tab .form-control{
    margin-top: 12px;
    margin-bottom: 12px;
}

.tab .form-select{
    margin-bottom: 12px;
    color: var(--text-clr);
    border: 2px solid var(--secondary);
    transition: 0.5s ease;
}

.tab .form-select:focus, .tab .form-select:active, .tab .tx-tarea:focus{
    
    outline: none;
    border: 0;
}

.tab .tx-tarea{
    color: var(--text-clr);
    border: 2px solid var(--secondary);
}





