<!DOCTYPE html>
<html lang="ens">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inscripciones</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="form.css") }}">
</head>
<body>
    <h1>Inscripciones</h1>
</body>
<div class="container">
    <h2>Datos del programa</h2>
</div>
</div>
<section id="about" class="content-section text-center">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="">
                <label for="name" class="form-label">Nombre del programa</label>
                <input type="text" class = "form-control" id="name" name="programa" />
                <br>
                <label for="name" class="form-label">Localidad/categoria/canales de aire</label>
                <select  id="categorias" name="categoria" class="form-control valid">
                    <option value="" disabled="" selected="">Selecciona una categoria</option>
                    <optgroup label="Asociados">
                        <option value="CATEGORÍA A">1º De Mayo - Categoría A</option>
                        <option value="CATEGORÍA A">Alcaraz - Categoría A</option>
                        <option value="CATEGORÍA A">Aldea San Antonio - Categoría A</option>
                        <option value="CATEGORÍA A">Aldea Valle Maria - Categoría A</option>
                        <option value="CATEGORÍA A">Aranguren - Categoría A</option>
                        <option value="CATEGORÍA A">Basavilbaso - Categoría A</option>
                        <option value="CATEGORÍA A">Bovril - Categoría A</option>
                        <option value="CATEGORÍA A">Caseros - Categoría A</option>
                        <option value="CATEGORÍA A">Ceibas - Categoría A</option>
                        <option value="CATEGORÍA A">Cerrito - Categoría A</option>
                        <option value="CATEGORÍA A">Colonia Avellaneda - Categoría A</option>
                        <option value="CATEGORÍA A">Colonia Ayui - Categoría A</option>
                        <option value="CATEGORÍA A">Colonia Elia - Categoría A</option>
                        <option value="CATEGORÍA A">Conscripto Bernardi - Categoría A</option>
                        <option value="CATEGORÍA A">Enrique Carbo - Categoría A</option>
                        <option value="CATEGORÍA A">Estancia Grande - Categoría A</option>
                        <option value="CATEGORÍA A">General Campos - Categoría A</option>
                        <option value="CATEGORÍA A">General Galarza - Categoría A</option>
                        <option value="CATEGORÍA A">General Ramirez - Categoría A</option>
                        <option value="CATEGORÍA A">Gilbert - Categoría A</option>
                        <option value="CATEGORÍA A">Gobernador Mansilla - Categoría A</option>
                        <option value="CATEGORÍA A">Hasenkamp - Categoría A</option>
                        <option value="CATEGORÍA A">Hernandarias - Categoría A</option>
                        <option value="CATEGORÍA A">Hernandez - Categoría A</option>
                        <option value="CATEGORÍA A">Herrera - Categoría A</option>
                        <option value="CATEGORÍA A">Ibicuy - Categoría A</option>
                        <option value="CATEGORÍA A">La Criolla - Categoría A</option>
                        <option value="CATEGORÍA A">Larroque - Categoría A</option>
                        <option value="CATEGORÍA A">Los Charruas - Categoría A</option>
                        <option value="CATEGORÍA A">Los Conquistadores - Categoría A</option>
                        <option value="CATEGORÍA A">Lucas Gonzalez - Categoría A</option>
                        <option value="CATEGORÍA A">Macia - Categoría A</option>
                        <option value="CATEGORÍA A">Maria Grande - Categoría A</option>
                        <option value="CATEGORÍA A">Oro Verde - Categoría A</option>
                        <option value="CATEGORÍA A">Piedras Blancas - Categoría A</option>
                        <option value="CATEGORÍA A">Pronunciamiento - Categoría A</option>
                        <option value="CATEGORÍA A">Pueblo General Belgrano - Categoría A</option>
                        <option value="CATEGORÍA A">Puerto Yerua - Categoría A</option>
                        <option value="CATEGORÍA A">San Benito - Categoría A</option>
                        <option value="CATEGORÍA A">San Gustavo - Categoría A</option>
                        <option value="CATEGORÍA A">San Jaime De La Frontera - Categoría A</option>
                        <option value="CATEGORÍA A">San Justo - Categoría A</option>
                        <option value="CATEGORÍA A">Santa Ana - Categoría A</option>
                        <option value="CATEGORÍA A">Santa Anita - Categoría A</option>
                        <option value="CATEGORÍA A">Sauce De Luna - Categoría A</option>
                        <option value="CATEGORÍA A">Segui - Categoría A</option>
                        <option value="CATEGORÍA A">Tabossi - Categoría A</option>
                        <option value="CATEGORÍA A">Ubajay - Categoría A</option>
                        <option value="CATEGORÍA A">Urdinarrain - Categoría A</option>
                        <option value="CATEGORÍA A">Viale - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Clara - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Del Rosario - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Dominguez - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Libertador San Martin - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Mantero - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Paranacito - Categoría A</option>
                        <option value="CATEGORÍA A">Villa Urquiza - Categoría A</option>
                        <option value="CATEGORÍA B">Villa Elisa - Categoría B</option>
                        <option value="CATEGORÍA B">San Jose De Feliciano - Categoría B</option>
                        <option value="CATEGORÍA B">San Salvador - Categoría B</option>
                        <option value="CATEGORÍA B">Rosario Del Tala - Categoría B</option>
                        <option value="CATEGORÍA B">Federacion - Categoría B</option>
                        <option value="CATEGORÍA B">Santa Elena - Categoría B</option>
                        <option value="CATEGORÍA B">Federal - Categoría B</option>
                        <option value="CATEGORÍA B">San Jose - Categoría B</option>
                        <option value="CATEGORÍA B">Diamante - Categoría B</option>
                        <option value="CATEGORÍA C">Crespo - Categoría C</option>
                        <option value="CATEGORÍA C">Nogoya - Categoría C</option>
                        <option value="CATEGORÍA C">Colon - Categoría C</option>
                        <option value="CATEGORÍA C">La Paz - Categoría C</option>
                        <option value="CATEGORÍA C">Victoria - Categoría C</option>
                        <option value="CATEGORÍA C">Villaguay - Categoría C</option>
                        <option value="CATEGORÍA C">Chajari - Categoría C</option>
                        <option value="CATEGORÍA D">Gualeguay - Categoría D</option>
                        <option value="CATEGORÍA D">Concepcion Del Uruguay - Categoría D</option>
                        <option value="CATEGORÍA D">Gualeguaychu - Categoría D</option>
                        <option value="CATEGORÍA D">Concordia - Categoría D</option>
                        <option value="CATEGORÍA D">Parana - Categoría D</option>
                    </optgroup>
                    <optgroup label="Canales abiertos">
                        <option value="CATEGORÍA E">Canales abiertos - Categoría E</option>
                    </optgroup>
                    <optgroup label="Productoras independientes">
                        <option value="CATEGORÍA F">Productoras independientes - Categoría F</option>
                    </optgroup>
                    <optgroup label="Categoría única">
                        <option value="TRANSMISIONES EN VIVO">TRANSMISIONES EN VIVO</option>
                    </optgroup>
                    <optgroup label="Categoría única">
                        <option value="TURF">TURF</option>
                    </optgroup>
                </select>
                <br>
                <label for="name" class="form-label">Genero</label>
                <select name="genero" class="form-control">
                    <option value="" disabled="" selected="">Selecciona un genero</option>
                    <option value="NOTICIERO">NOTICIERO</option>
                    <option value="PERIODÍSTICO DE OPINIÓN Y/O POLÍTICO">PERIODÍSTICO DE OPINIÓN Y/O POLÍTICO</option>
                    <option value="DEPORTIVO">DEPORTIVO</option>
                    <option value="AGRARIO O RURAL">AGRARIO O RURAL</option>
                    <option value="EVENTOS FOLCLÓRICOS Y/O TRADICIONALISTAS">EVENTOS FOLCLÓRICOS Y/O TRADICIONALISTAS</option>
                    <option value="MUSICAL">MUSICAL</option>
                    <option value="EDUCATIVO">EDUCATIVO</option>
                    <option value="INTERÉS GENERAL">INTERÉS GENERAL</option>
                    <option value="DOCUMENTAL">DOCUMENTAL</option>
                    <option value="ESPECIAL">ESPECIAL</option>
                    <option value="INFANTIL">INFANTIL</option>
                    <option value="TURF">TURF</option>
                    <option value="TRANSMISIÓN EN VIVO">TRANSMISIÓN EN VIVO</option> 
                </select>
                <br>
                <label for="name" class="form-label">Vivo, directo y simultaneo</label>
                <select name="vivo" class="form-control">
                    <option value="" selected="" disabled="">Elegir</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <br>
                <label for="name" class="form-label">Localidad de emision</label>
                <input class="form-control" type="text" name="localidad">
                <br>
                <label for="name" class="form-label">Fecha de emision</label>
                <input type="date" name='fecha'>
                <br>
                <label for="name" class="form-label">Duración</label>
                <input class="form-control" type="time" name="duracion" step="1">
                <br>
                <label for="name" class="form-label">Breve descripción</label>
                <textarea  class="form-control" rows="5" cols="40" name="otros"></textarea>
                <br>
                <button name = "agregar">Enviar</button>
            </form>
        </div>
    </div>
</div>
</html>