{% extends 'base_admin.html'%}

{%block title%}
    pagina jurados
{%endblock%}

{%block content%}

    

<div class="container pb-1">
    <div class="row pb-3">
        <div class="col-lg-12 pt-3 pb-3">
            <div class="panel-heading">
                <i class="fa fa-briefcase fa-fw"></i> USUARIOS INSCRIPTOS: {{usuarios}}
                <div style="float:right;display: block">
                    <input type="button" style="margin-top:-6px !important" class=" impre btn btn-sm btn btn-success" onclick="print()" value="IMPRIMIR">
                        <a href="http://aetelecomunicaciones.org/admin/index.php" style="margin-top:-6px !important" class=" impre btn btn-sm btn-default">VOLVER AL LISTADO</a>
                    </div>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <h4>DATOS DEL PROGRAMA</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Programa:</b>
                            <input readonly type="text" name="programaInscripcion" value="{{programa}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Genero:</b>
                            <input readonly type="text" name="generoInscripcion" value="{{genero}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Categoria:</b>
                            <input readonly type="text" name="categoriaInscripcion" value="{{categoria}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Vivo:</b>
                            <input readonly type="text" name="vivoInscripcion" value="{{vivo}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Localidad:</b>
                            <input readonly type="text" name="localidadInscripcion" value="{{localidad}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Emision:</b>
                            <input readonly type="text" name="emisionInscripcion" value="{{emision}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Duracion:</b>
                            <input readonly type="text" name="duracionInscripcion" value="{{duracion}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Productor:</b>
                            <input readonly type="text" name="productorInscripcion" value="{{productor}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Coproductor:</b>
                            <input readonly type="text" name="coproductorInscripcion" value="{{coproductor}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Autor:</b>
                            <input readonly type="text" name="autorInscripcion" value="{{autor}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Director:</b>
                            <input readonly type="text" name="directorInscripcion" value="{{director}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Camara:</b>
                            <input readonly type="text" name="camaraInscripcion" value="{{camara}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Sonido:</b>
                            <input readonly type="text" name="sonidoInscripcion" value="{{sonido}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Conductor:</b>
                            <input readonly type="text" name="conductorInscripcion" value="{{conductor}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Protagonista:</b>
                            <input readonly type="text" name="protagonistaInscripcion" value="{{protagonista}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-6">
                            <b>Cronistas:</b>
                            <input readonly type="text" name="cronistasInscripcion" value="{{cronistas}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-12">
                            <b>Descripción:</b>
                            <textarea readonly name="otrosInscripcion" class="form-control"> {{otros}} </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>DATOS DEL CANAL</h4>
                    <hr>
                    <b>Nombre:</b>
                    <input readonly type="text" name="nombreInscripcion" value="{{nombre}}" class="form-control input-sm">
                    <b>Direccion:</b>
                    <input readonly type="text" name="direccionInscripcion" value="{{direccion}}" class="form-control input-sm">
                    <b>Localidad:</b>
                    <input readonly type="text" name="localidadInscripcion" value="{{localidad_canal}}" class="form-control input-sm">
                    <b>Contacto:</b>
                    <input readonly type="text" name="contactoInscripcion" value="{{contacto}}" class="form-control input-sm">
                    <b>Telefono:</b>
                    <input readonly type="text" name="telefonoInscripcion" value="{{telefono}}" class="form-control input-sm">
                    <b>Email:</b>
                    <input readonly type="text" name="emailInscripcion" value="{{email}}" class="form-control input-sm">
                    <b>Socio:</b>
                    <input readonly type="text" name="socioInscripcion" value="{{socio}}" class="form-control input-sm">
                    <b>Fecha:</b>
                    <label for="">{{programa}}</label>
                    <h4>DATOS DEL FACTURACION</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <b>Razon social:</b>
                            <input readonly type="text" name="Razon social" value="{{razonsocial}}" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                            <b>Cuit:</b>
                            <input readonly type="text" name="cuit" value="{{cuit}}" class="form-control input-sm">
                        </div>
                    </div>     
                </div>
                    <h4 class="pt-1">MATERIAL DE VIDEO</h4>
                    <hr>
                    <div class="col-md-3">
                        <a href="{{programa1}}" class="btn" id="boton-gd">
                            <img src="../static/play.svg" alt="" width="25px" height="25px">
                             Programa 1
                        </a>
                    </div>  
                    <div class="col-md-3">
                        <a href="{{programa2}}" class="btn" id="boton-gd">
                            <img src="../static/play.svg" alt="" width="25px" height="25px">
                             Programa 2
                        </a>
                        
                        
                    </div>
                    <div class="col-md-3">
                        <a href="{{programa3}}" class="btn" id="boton-gd">
                            <img src="../static/play.svg" alt="" width="25px" height="25px">
                             Programa 3
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{cover}}" class="btn" id="boton-gd">
                            <img src="../static/play.svg" alt="" width="25px" height="25px">
                             Cover
                        </a>
                    </div>
                    <div class="text-center p-3">

                        <div id="carouselExampleCaptions" class="carousel slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" ></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <iframe src="{{cover}}"  allow="autoplay"></iframe>
                                <div class="carousel-caption d-none d-md-block">
                                  <h6>Cover</h6>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <iframe src="{{programa1}}"  allow="autoplay"></iframe>
                                <div class="carousel-caption d-none d-md-block">
                                  <h6>Programa 1</h6>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <iframe src="{{programa2}}"  allow="autoplay"></iframe>
                                <div class="carousel-caption d-none d-md-block">
                                  <h6>Programa 2</h6>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <iframe src="{{programa3}}"  allow="autoplay"></iframe>
                                <div class="carousel-caption d-none d-md-block">
                                  <h6>Programa 3</h6>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <img src="../static/aleft.svg" alt="" width="40px" height="40px">
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <img src="../static/aright.svg" alt="" width="40px" height="40px">
                            </button>
                          </div>





                        
                    </div>
                    <hr>
                    <h4 class="pt-1">Obervaciones</h4>
                    <input type="text" name="observaciones" value="{{observacion}}" class="form-control input-sm">
                    <hr>
                    <h4 class="pt-1">Estado por el jurado</h4>
                    <input type="text" name="estado" value="{{estado}}" class="form-control input-sm">
                    
                </div>
                <button type="submit" name="guardar" class="btn btn-success mt-2">Guardar</button>
            </div>
            
        </form>
            
        </div>

    </div>

</div>

    {%endblock%}